@font-face {
    font-family: Gill Sans Ultra Bold;
    src: url(/src/fonts/gill-sans-ultra-bold-2-maisfontes.71cb/gill-sans-ultra-bold-2.ttf);
}

/* = CORPO ========== */
body {
    background-image: url(/src/img/bg-image.jpg);
    background-size: auto;
}

body, main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


h1 {
    font-family: "Gill Sans Ultra Bold";
    color: #FEE238;
    text-align: center;
    width: 175px;
}

/* = ELEMENTOS ========== */
#playCount {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#numJogadas {
    font-family: "Gill Sans Ultra Bold";
    color: white;
    padding: 10px;
    border-radius: 5px;
    transform: rotate(7deg);
    background-color: #C11314;
    box-shadow: 2px 2px 0 #FA6964;
    outline: 0.25px solid #ff615c;

    animation: 5s rotating infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(7deg);
    }

    50% {
        transform: rotate(-7deg);
    }

    100% {
        transform: rotate(7deg);
    }
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options {
    display: flex;
}


/* = JOGO ========== */
#game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
}


/* - PINOS ---------- */
#game * {
    height: 175px;
    width: 95px;
    background-color: aqua;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
}


/* - DISCOS ---------- */
#pin1 *,
#pin2 *,
#pin3 * {
    height: 25px;
    border-radius: 100px;
}

#block1 {
    width: 100%;
    background-color: #F1060B;
}

#block2 {
    width: 85%;
    background-color: #1A48A0;
}

#block3 {
    width: 70%;
    background-color: #FFEE15;
}

#block4 {
    width: 55%;
    background-color: #EAAB66;
}

#block5 {
    width: 40%;
    background-color: #B4DC8C;
}


/* = POPUP ========== */
.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 15px;
    z-index: 1;
    height: 100px;
    width: 200px;
    background-color: white;
}

.pop-up[animation = "popupIn"] {
    animation: popupIn 0.5s;
}

@keyframes popupIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.pop-up[animation = "popupOut"] {
    animation: popupOut 0.5s;
}

@keyframes popupOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}
