body, main {
    display: flex;
    justify-content: center;
}

main {
    flex-direction: column;
}

#game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 200px;
    /* background-color: gray; */
}

#game * {
    height: 175px;
    width: 95px;
    background-color: aqua;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
}

#pin1 *,
#pin2 *,
#pin3 * {
    height: 25px;
}

#block1 {
    width: 100%;
    background-color: #F1060B;
}

#block2 {
    width: 85%;
    background-color: #1A48A0;
}

#block3 {
    width: 70%;
    background-color: #FFEE15;
}

#block4 {
    width: 55%;
    background-color: #EAAB66;
}

#block5 {
    width: 40%;
    background-color: #B4DC8C;
}